.first-head
{
    text-align: center;
    background-color: gray;
    margin-top:0px;
}
.container
{
    display: flex;
    justify-content: space-evenly;
}
.card
{
    border: 2px solid black;
    width: 20%;
    border-radius: 10px;
   animation: cardHandeler 5s linear infinite;
}
.card-img
{
    border-radius: 7px 7px 0px 0px;
    width: 100%;
    height: 150px;
}
.card-title
{
    background-color:#b3ffff ;
    text-align: center;
    margin-top: -5px;
    margin-bottom: -5px;
    padding: 5px;
}
.card-text
{
    padding:0px 10px;
    text-align: justify;
    margin-bottom: -3px;
}
.card-btn
{
    background-color: hsl(200, 100%, 80%);
    margin: 10px 30%;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 15px;
}
@media screen and (max-width: 468px) {

.container
{
    flex-direction: column;
}
.card{
    width: 90%;
    margin: 10px auto;
}
.ham-menu
{
    display: inline;
}
    
}


@media screen and (max-width: 1000px) {

.container
{
    flex-direction: column;
}
.card{
    width: 90%;
    margin: 10px auto;
}
.ham-menu
{
    display: inline;
}
    .nav-div
    {
        display: none;
    }
}


@keyframes cardHandeler {
    0%{ transform: translateX(0px);
         box-shadow: -10px -5px 20px cyan;
    }
     25%{ transform: translateX(10px);
         box-shadow: -10px -5px 20px cyan;
    }
     50%{ transform: translateX(15px);
         box-shadow: -10px -5px 20px cyan;
    }
     75%{ transform: translateX(10px);
         box-shadow: -10px -5px 20px cyan;
    }
    100%{ transform: translateX(0px);
          box-shadow: -10px -5px 20px cyan;
    }
}